<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body >
    <div class="container">
      <%- include('../partials/nav.ejs')%>
      <h1> <%= title %> </h1>
      <p>You are beauty</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam cupiditate eligendi magni assumenda voluptate necessitatibus cum sapiente, deleniti aspernatur. Deleniti aspernatur ducimus mollitia id quidem sapiente dolores sed, eum quam.</p>
      <button class="btn"> Learn more</button>
    </div>
  </body>
</html>
